* {
  margin: 0;
  padding: 0;
}

.book__section-up {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.book--info {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;

  background-color: lightblue;
}

.book--title {
  font-size: 32px;
  font-weight: 600;

  margin-bottom: 20px;
}

.book--quality {
  font-weight: 600;
}

.book--subtitle {
  padding-top: 10px;
  padding-bottom: 20px;

  font-style: italic;
}

.book-feedback {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #acacac;
  padding: 10px 10px;
  margin-top: 20px;

  display: grid;
  grid-template-rows: 1fr 1fr;
}
