.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 110px;
  margin-bottom: 20px;
}

.logo {
  height: 110px;
}

.genre__block {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.genre--item a {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease 0s;

  padding: 10px 40px;
}

.genre--item a:hover {
  text-decoration: underline;
}

.user__block a {
  padding: 0 10px;
}

.user--icon {
  height: 30px;
}
