<header class="header">
  <div class="logo__block">
    <a href="#">
      <img src="assets/images/icon/open-book.svg" class="logo">
    </a>
  </div>
  <ul class="genre__block">
    <li class="genre--item"><a href="#">Фантастика</a></li>
    <li class="genre--item"><a href="#">Романы</a></li>
    <li class="genre--item"><a href="#">Ужасы</a></li>
    <li class="genre--item"><a href="#">Детективы</a></li>
  </ul>
  <div class="user__block">
    <a href="#">
      <img class="user--icon" id="search" src="assets/images/icon/search.svg">
    </a>
    <a href="#">
      <img class="user--icon" src="assets/images/icon/like.svg">
    </a>
    <a href="#">
      <img class="user--icon" src="assets/images/icon/user.svg">
    </a>
  </div>
</header>
